In [1]:
import psycopg2
import pandas as pd

In [2]:
conn = psycopg2.connect(dbname="neondb", user="zhanabayevasset", password="txDhFR1yl8Pi", host='ep-cool-poetry-346809.us-east-2.aws.neon.tech')
cursor = conn.cursor()

In [3]:
cursor.execute("""drop table pvc_params""")
conn.commit()

In [4]:
cursor.execute("""create table pvc_params 
                (ID serial PRIMARY KEY,
                BRAND varchar null,
                NOMINAL_DIAMETER float null,
                VIEW varchar null,
                FUNCTIONALITY varchar null,
                DIAMETER int null,
                WEIGHT int null,
                WIDTH int null,
                MARK_CONTROL varchar null,
                LENGTH int null,
                MASTER varchar null,
                created_at timestamp not null,
                updated_at timestamp not null) """)

In [5]:
conn.commit()

In [7]:
cursor.close()
conn.close()

In [6]:
def update_db():
    conn = psycopg2.connect(dbname="neondb", user="zhanabayevasset", password="txDhFR1yl8Pi", host='ep-cool-poetry-346809.us-east-2.aws.neon.tech')
    cursor = conn.cursor()
    cursor.execute("""select * from pvc_params""")
    data = cursor.fetchall()
    cols =[]
    for i in cursor.description:
        cols.append(i[0])
    cursor.close()
    conn.close()
    return pd.DataFrame(data, columns = cols)

In [10]:
df = update_db()

In [11]:
df

,id,brand,nominal_diameter,view,functionality,diameter,weight,width,mark_control,length,master,created_at,updated_at
0,1,okyanus,70.0,ok,ok,70,2,NaN,None,NaN,adlet,2023-02-14 12:37:03.826308,2023-02-14 12:37:03.826308
1,2,okyanus,70.0,ok,ok,71,3,NaN,None,NaN,adlet,2023-02-14 12:43:20.990433,2023-02-14 12:43:20.990433
2,3,okyanus,70.0,ok,ok,70,3,10.0,ok,100.0,adlet,2023-02-14 13:11:58.860257,2023-02-14 13:11:58.860257